body {
    background-color: rgb(248, 244, 244);
}


footer{
    padding: 5px 0;
    background-color: rgb(114, 117, 117);
    font-family: 'Noto Sans KR';
    font-size: 10px;
    line-height: 2;
    color: #fff;
    text-align: center;
}


.headerWrapper {
    width: 100%;
    margin-bottom: 30rem;
    /* text-align: center; */
}

.dFlex{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.nav .floatLeft{
    float: left;
    text-align:start;
}

.bannerStrong{
    width: 50%;
    height: auto;
}


.nav .textEnd{
    float: right;
    text-align:end;
    margin-right: 1rem;

}

.nav {
    width: 100%;
    float: inline-start;
    margin: 15px;
}

.nav ul{
   width: 100%;
   font-family: 'GmarketSansMedium';
}


.nav ul li{
    display: inline-block;
    list-style: none;
}

.nav ul li a{
    padding: 15px;
    color: black;
    text-decoration: none;
}

section{
    margin: 10rem 40px;
}
.intro .introTitle{
    display: flex;
    justify-content: center;
}


.introTitle{
    width: 100%;
    max-width: 100%;
}
.introTitle h2{
    font-family: 'GmarketSansBold';
    font-size: 50px;
    margin-bottom: 2rem;
}

.introTitle div img{
    width: 200px;
    margin: 10px 50px;
}
.introTitle .item{
    
    font-family: 'GmarketSansMedium';
    margin: 15px;

}
.title{
    font-family: 'RixInooAriDuriR';
}

.smallLog{
    width: 60px;
    height: auto;
    vertical-align: middle;
}

.wrapper{
    width: 100%;

}
#contents{
    width: 100%;
}